<header id="back-to-top">
  <div class="container py-4">
    <div class="row">
      <div class="col-sm-12 col-md-8">
        <a
          href="skype:omar.creativedevelopments.net?call"
          target="_blank"
          class="header__social-link text-body pr-5 d-inline-flex align-items-center no-underline"
        >
          <fa-icon class="pr-3 skype-color header__social-icon" [icon]="faSkype"></fa-icon>Skype
        </a>
        <a
          href="https://www.linkedin.com/in/omarcreativedev"
          target="_blank"
          class="header__social-link text-body pr-5 d-inline-flex align-items-center no-underline"
        >
          <fa-icon class="pr-3 linked-in-color header__social-icon" [icon]="faLinkedinIn"></fa-icon>LinkedIn
        </a>
        <a
          href="https://twitter.com/OmarCreativeDev"
          target="_blank"
          class="header__social-link text-body d-inline-flex align-items-center no-underline"
        >
          <fa-icon class="pr-3 twitter-color header__social-icon" [icon]="faTwitter"></fa-icon>Twitter
        </a>
      </div>
      <div class="col-md-4 text-right d-none d-md-block">
        <a
          href="#"
          class="header__social-link text-body pr-5 d-inline-flex align-items-center no-underline"
          (click)="print()"
        >
          <fa-icon class="pr-3 header__social-icon" [icon]="faPrint"></fa-icon>Print page
        </a>
        <a
          class="header__social-link text-body d-inline-flex align-items-center no-underline"
          [routerLink]="['/sitemap']"
        >
          <fa-icon class="pr-3 header__social-icon" [icon]="faSitemap"></fa-icon>Sitemap
        </a>
      </div>
    </div>
  </div>
  <div class="header__nav-bg">
    <div class="container h-100">
      <div class="row align-items-center h-100">
        <a class="header__logo col-sm-12 col-lg-5 no-underline" [routerLink]="['/']"
          ><span class="text-white">Creative</span> Developments</a
        >
        <nav class="col-lg-7 text-lg-right">
          <ul class="m-0 px-0 pb-5 pb-lg-0">
            <li class="d-inline-flex">
              <a
                class="header__nav-link no-underline"
                [routerLink]="['/']"
                [routerLinkActive]="'header__nav-link--active'"
                >HOME</a
              >
            </li>
            <li class="d-inline-flex">
              <a
                class="header__nav-link no-underline"
                [routerLink]="['/about-me']"
                [routerLinkActive]="'header__nav-link--active'"
                >ABOUT</a
              >
            </li>
            <li class="d-inline-flex">
              <a
                class="header__nav-link no-underline"
                [routerLink]="['/portfolio/']"
                [routerLinkActive]="'header__nav-link--active'"
                >PORTFOLIO</a
              >
            </li>
            <li class="d-inline-flex">
              <a
                class="header__nav-link no-underline"
                [routerLink]="['/hire-me']"
                [routerLinkActive]="'header__nav-link--active'"
                >HIRE ME</a
              >
            </li>
            <li class="d-inline-flex">
              <a
                class="header__nav-link no-underline"
                [routerLink]="['/my-skills']"
                [routerLinkActive]="'header__nav-link--active'"
                >SKILLS</a
              >
            </li>
            <li class="d-inline-flex">
              <a
                class="header__nav-link no-underline pr-lg-0"
                [routerLink]="['/contact-me']"
                [routerLinkActive]="'header__nav-link--active'"
              >
                CONTACT</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
