<header class="header">
  <div class="header__top-nav flex">
    <div class="header__social-media">
      <a href="skype:omar.creativedevelopments.net?call" title="Skype: omar.creativedevelopments.net"
         target="_blank">
        <i class="fa fa-skype lightBlue small"></i>
        Skype
      </a>

      <a href="https://www.linkedin.com/in/omarcreativedev" title="LinkedIn: Omar Mirza" target="_blank">
        <i class="fa fa-linkedin darkBlue small"></i>
        LinkedIn
      </a>

      <a href="https://plus.google.com/u/0/108712254152026254053/about" title="Google Plus: Omar Mirza"
         target="_blank">
        <i class="fa fa-google-plus red small"></i>
        Google Plus
      </a>

      <a href="https://twitter.com/OmarCreativeDev" title="Twitter: OmarCreativeDev" target="_blank">
        <i class="fa fa-twitter lightBlue small"></i>
        Twitter
      </a>
    </div>
    <div class="header__misc-links">
      <span>
        <i class="fa fa-print small"></i>
        Print this page
      </span>

      <a class="sitemap" href="/sitemap.html">
        <i class="fa fa-map-o small"></i>
        Sitemap
      </a>
    </div>
  </div>
  <div class="header__body flex">
    <a class="header__logo" href="/">Creative <span>Developments</span></a>
    <nav class="header__nav">
      <ul>
        <li><a href="/" title="Home">HOME</a></li>
        <li><a href="/about-me.html" title="About Me">ABOUT ME</a></li>
        <li><a href="/portfolio/" title="Portfolio">PORTFOLIO</a></li>
        <li><a href="/hire-me.html" title="Hire Me">HIRE ME</a></li>
        <li><a href="/services/" title="Services">SERVICES</a></li>
        <li><a href="/my-skills.html" title="My SKills">MY SKILLS</a></li>
        <li><a href="/contact-me.html" title="Contact Me">CONTACT ME</a></li>
      </ul>
    </nav>
  </div>
</header>
