@import 'colors';
@import 'variables';
@import 'mixins';

.btn {
  text-decoration: none;
  border: 0;
  @include trajanProFont;
}

.btn-primary {
  text-shadow: 0.1rem 0.1rem 0 $white;
  color: $everglade;
  background: $secondary-color;

  &:hover {
    background: $tertiary-color;
    text-shadow: 0.1rem 0.1rem 0 $primary-color;
  }
}
