// http://chir.ag/projects/name-that-color/#26478D
$mine-shaft: #303030;
$white: #fff;
$mercury: #e6e6e6;
$gallery: #ececec;
$silver: #C7C7C7;

$conifer: #b5d443;
$christi: #73990b;

$picton-blue: #45C1F4;
$boston-blue: #3192BF;

$alizarin-crimson: #e31b23;
$radical-red: #f92f4a;
