@import 'variables';

.input {
  border: solid 0.1rem $mine-shaft;
  border-radius: 0.4rem;
  padding: 1.7rem;
  font-size: 1.6rem;
  font-family: $font-family-base;

  &::placeholder {
    color: $mine-shaft;
  }
}
