@import "colors";
@import "variables";

@mixin ellipsis() {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin h1() {
  font-size: 2.8rem;
}

@mixin h2() {
  font-size: 2.8rem;
  margin-bottom: 4.0rem;
}

@mixin h3() {
  font-size: 2.0rem;
}

@mixin palatinoFont() {
  font-weight: normal;
  font-family: $font-family-palatino;
}

@mixin trajanProFont() {
  font-weight: normal;
  font-family: $font-family-trajan;
}

@mixin bannerBg() {
  background: url('~src/assets/images/banner-bg-top.png') top repeat-x,
              url('~src/assets/images/banner-bg-bottom.png') bottom repeat-x,
              $mine-shaft;
}
