@import "colors";
@import "variables";

@mixin ellipsis() {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin palatinoFont() {
  font-weight: normal;
  font-family: $font-family-palatino;
}

@mixin trajanProFont() {
  font-weight: normal;
  font-family: $font-family-trajan;
}

@mixin bannerBg() {
  background: url("/assets/images/banner/banner-bg-top.png") top repeat-x,
    url("/assets/images/banner/banner-bg-bottom.png") bottom repeat-x,
    $primary-color;
}
