@import 'variables';
@import 'mixins';

html {
  font-size: 62.5%;
  font-family: $font-family-base;
  color: $primary-color;
}

body {
  font-size: $font-size-base;
  line-height: 1.5;
  font-weight: 300;
}

strong,
.bold {
  font-weight: 400;
}

ol,
p,
ul {
  margin: 0 0 1rem;
}

a,
a:hover,
a:visited,
.link {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

.no-underline {
  text-decoration: none;
}

.italic {
  font-style: italic;
}

h1 {
  @include h1();
}

h2 {
  @include h2();
}

h3 {
  @include h3();
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include palatinoFont();
}

.error-color {
  color: $alizarin-crimson;
}
.skype-color,
.twitter-color { color: $picton-blue; }
.linked-in-color { color: $boston-blue; }
.google-plus-color { color: $radical-red; }
