@import 'colors';

$font-family-base: 'lucida-sans', lucida-sans, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size-base: 1.4rem;
$primary-color: $mine-shaft;
$secondary-color: $light-green;
$tertiary-color: $dark-green;
