@import '~src/styles/colors';
@import '~src/styles/variables';
@import '~src/styles/mixins';

.portfolio-item__client-link {
  border: 0.5rem solid $white;
  box-shadow: 0.1rem 0.1rem 0.6rem $gray;

  &:hover {
    border-color: $secondary-color;
  }
}

.portfolio-item__client-caption {
  @include trajanProFont();
}
