<div class="row d-flex justify-content-center">
  <div *ngFor="let i of portfolioItems" class="col-sm-6 col-md-4 col-lg-3 d-flex mb-5 flex-column">
    <a
      [attr.data-fancybox]="'group1'"
      [attr.data-title]="i.caption"
      href="/assets/images/portfolio/{{ i.imageName }}.jpg"
      class="portfolio-item__client-link mb-4"
    >
      <img
        src="/assets/images/portfolio/{{ i.imageName }}-thumb.jpg"
        class="portfolio-item__client-img w-100"
        alt="{{ i.caption }}"
      />
    </a>
    <div class="d-flex align-items-center justify-content-between">
      <div class="portfolio-item__client-caption mr-4 flex-shrink-1">{{ i.caption }}</div>
      <a
        class="btn btn-primary flex-shrink-0"
        href="/assets/images/portfolio/{{ i.imageName }}.jpg"
        [attr.data-fancybox]="'group2'"
        [attr.data-title]="i.caption"
        >Details</a
      >
    </div>
  </div>
</div>
