@import '~src/styles/colors';
@import '~src/styles/variables';

.featured-work {
  margin: 10rem 0;
}

.featured-work__bg {
  background: url('~src/assets/images/featured-work/featured-work-bg-top.gif') top repeat-x,
    url('~src/assets/images/featured-work/featured-work-bg-bottom.gif') bottom repeat-x, $tahuna-sands;
}

.featured-work__client-link,
.featured-work__client-img {
  height: auto;
  width: 100%;
}

.featured-work__client-img {
  border-radius: 50%;
  border: solid 0.5rem $white;
  box-shadow: 0.1rem 0.1rem 0.6rem $gray;

  &:hover {
    border-color: $secondary-color;
  }
}
