<div class="featured-work">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="text-center">Featured <span class="text-tertiary">Work</span></h3>
      </div>
    </div>
  </div>

  <div class="featured-work__bg">
    <article class="container">
      <div class="row d-flex justify-content-center">
        <div *ngFor="let i of featuredWork" class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center">
          <a
            [attr.data-fancybox]="'gallery'"
            [attr.data-title]="i.caption"
            href="/assets/images/portfolio/{{ i.imageName }}.jpg"
            class="featured-work__client-link mb-5 mb-md-0"
          >
            <img
              src="/assets/images/portfolio/{{ i.imageName }}.jpg"
              class="featured-work__client-img"
              alt="{{ i.caption }}"
            />
          </a>
        </div>
      </div>
    </article>
  </div>
</div>
