<footer>
  <div class="container py-4">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <fa-icon class="pr-2" [icon]="faCode"></fa-icon>
        Developing &amp; freelancing
      </div>
      <div class="col-sm-6 col-md-6 text-right">
        Back to Top
        <fa-icon class="pl-2" [icon]="faArrowUp"></fa-icon>
      </div>
    </div>
  </div>
  <div class="footer__nav-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <dl class="footer__nav-list">
            <dt class="footer__nav-title pb-5">Cross <span class="text-white">browser</span> support</dt>
            <dd><i class="fa fa-internet-explorer darkBlue large"></i></dd>
            <dd><i class="fa fa-opera red large"></i></dd>
            <dd><i class="fa fa-firefox orange large"></i></dd>
            <dd><i class="fa fa-chrome yellow large"></i></dd>
            <dd><i class="fa fa-safari lightBlue large"></i></dd>
            <dd><i class="fa fa-android green large"></i></dd>
            <dd><i class="fa fa-apple grey large"></i></dd>
            <dd><i class="fa fa-linux white large"></i></dd>
          </dl>
        </div>
        <div class="col-sm-4">
          <dl class="footer__nav-list">
            <dt class="footer__nav-title pb-5">Navigation <span class="text-white">Links</span></dt>
            <dd><a class="footer__nav-link" href="/">Home</a></dd>
            <dd><a class="footer__nav-link" href="/about-me.html">About Me</a></dd>
            <dd><a class="footer__nav-link" href="/portfolio/">Portfolio</a></dd>
            <dd><a class="footer__nav-link" href="/hire-me.html">Hire Me</a></dd>
            <dd><a class="footer__nav-link" href="/services/">Services</a></dd>
            <dd><a class="footer__nav-link" href="/my-skills.html">My Skills</a></dd>
            <dd><a class="footer__nav-link" href="/contact-me.html">Contact Me</a></dd>
            <dd><a class="footer__nav-link" href="/sitemap.html">Sitemap</a></dd>
          </dl>
        </div>
        <div class="col-sm-4">
          <dl class="footer__nav-list">
            <dt class="footer__nav-title pb-5">Favourite <span class="text-white">Links</span></dt>
            <dd><a class="footer__nav-link" rel="nofollow" href="https://angular.io/">https://angular.io/</a></dd>
            <dd><a class="footer__nav-link" rel="nofollow" href="https://rxjs.dev/">https://rxjs.dev/</a></dd>
            <dd>
              <a class="footer__nav-link" rel="nofollow" href="https://material.angular.io/">
                https://material.angular.io/
              </a>
            </dd>
            <dd>
              <a class="footer__nav-link" rel="nofollow" href="https://ngxs.gitbook.io/ngxs/">
                https://ngxs.gitbook.io/ngxs/
              </a>
            </dd>
            <dd>
              <a class="footer__nav-link" rel="nofollow" href="https://nodejs.org/en/">https://nodejs.org/en/</a>
            </dd>
            <dd>
              <a class="footer__nav-link" rel="nofollow" href="http://stackoverflow.com/">http://stackoverflow.com/</a>
            </dd>
          </dl>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <dl class="footer__nav-list">
            <dt class="footer__nav-title pb-5">Contact <span class="text-white">Info</span></dt>
            <dd>
              <i class="fa fa-phone small"></i>
              <a class="footer__nav-link" href="tel:07932 566 488">07932 566 488</a>
            </dd>
            <dd>
              <i class="fa fa-envelope-o small"></i>
              <a class="footer__nav-link" href="mailto:omar.creative.dev@gmail.com?subject=Creative%20Developments">
                omar.creative.dev@gmail.com
              </a>
            </dd>
          </dl>
        </div>
        <div class="col-sm-4">
          <dl class="footer__nav-list">
            <dt class="footer__nav-title pb-5">Code <span class="text-white">samples</span></dt>
            <dd>
              <a rel="nofollow" href="http://validator.w3.org/check?uri=referer" target="_blank"
                class="validHtml5 footer__nav-link">
              <i class="fa fa-html5 orange large"></i>
            </a></dd>
            <dd>
              <a rel="nofollow" href="http://jigsaw.w3.org/css-validator/check/referer?profile=css3" target="_blank"
              class="validCss3 footer__nav-link">
              <i class="fa fa-css3 lightBlue large"></i>
            </a></dd>
          </dl>
        </div>
        <div class="col-sm-4">
          <dl class="footer__nav-list">
            <dt class="footer__nav-title pb-5">Connect <span class="text-white">With</span> Me</dt>
            <dd>
              <a href="skype:omar.creativedevelopments.net?call" title="Skype: omar.creativedevelopments.net"
                target="_blank" class="footer__nav-link">
                <i class="fa fa-skype lightBlue large"></i>
              </a>
            </dd>
            <dd>
              <a href="https://www.linkedin.com/in/omarcreativedev" title="LinkedIn: Omar Mirza" target="_blank"
                class="footer__nav-link">
                <i class="fa fa-linkedin darkBlue large"></i>
              </a>
            </dd>
            <dd>
              <a href="https://twitter.com/OmarCreativeDev" title="Twitter: OmarCreativeDev" target="_blank"
                class="footer__nav-link">
                <i class="fa fa-twitter lightBlue large"></i>
              </a>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-4">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        &copy; Copyright {{ currentYear() }} Creative Developments.net. All rights reserved.
      </div>
      <div class="col-sm-6 col-md-6 text-right">
        <a href="/">Creative <span>Developments</span>.net</a>
      </div>
    </div>
  </div>
</footer>
