@import '~src/styles/variables';
@import '~src/styles/mixins';

.footer__nav-bg {
  padding: 6rem 0;
  @include bannerBg();
}
.footer__nav-list,
.footer__nav-link {
  color: $white;
}
.footer__nav-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
.footer__nav-title {
  font-size: 1.8rem;
  @include trajanProFont();
  color: $secondary-color;
}

.footer__icon {
  font-size: 4.8rem;
  min-width: 4.8rem;
}
